useDynLib(idld)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom(sde, BM)
importFrom(mvnfast, rmvn)
importFrom(cluster, pam)
importFrom(mclust, adjustedRandIndex)
importFrom(class, knn1)
exportPattern("^[[:alpha:]]+")
